.header { 
	position: fixed;
	width: -webkit-fill-available;
	padding: 10px 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.light {
  background-color: beige;
  color: black;
}
.dark {
  background-color: black;
  color: beige;
}